@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

* {
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  /* border: 1px solid red !important; */
}

body {
  background-color: #0d0d0d;
}

.lbr {
  box-shadow: 0 0 700px 15px white;
  rotate: -30deg;
  z-index: -1;
}

@media (max-width: 768px) {
  .nav-links {
    opacity: 1;
    display: none;
    flex-direction: column;
    position: fixed;
    border-radius: 0;
    top: 0;
    border: 0;
    right: 0;
    height: 100%;
    width: 250px;
    background-color: #1d1d1d;
    padding-top: 60px;
    opacity: 0;
    z-index: 9;
  }

  .nav-links.show {
    display: flex;
    opacity: 1;
  }

  .nav-links a {
    padding: 15px;
    text-align: center;
    width: 100%;
    margin: 10px 0;
    color: white;
    display: block;
  }
}